{% block footer %}
    <footer id="mainFooter">
        <ul>
            <li><a href="{{ HOST }}">{{ "Services"|trans }}</a></li>
            <li><a href="{{ HOST }}">{{ "Entreprise"|trans }}</a></li>
            <li><a href="{{ HOST }}">{{ "Carrière"|trans }}</a></li>
        </ul>
        <ul>
            <li><a href="{{ HOST }}">{{ "Nos partenaires"|trans }}</a></li>
            <li><a href="{{ HOST }}">{{ "License"|trans }}</a></li>
            <li><a href="{{ HOST }}">{{ "Droits"|trans }}</a></li>
        </ul>
        <ul>
            <li><a href="{{ HOST }}">{{ "A propos"|trans }}</a></li>
            <li><a href="{{ HOST }}">{{ "Contact"|trans }}</a></li>
            <li><a href="{{ HOST }}">Turbo</a></li>
        </ul>
    </footer>
{% endblock footer %}