{% block footer %}
    <footer id="mainFooter">
        <ul>
            <li><a href="{{ HOST }}">Services</a></li>
            <li><a href="{{ HOST }}">Entreprise</a></li>
            <li><a href="{{ HOST }}">Carrière</a></li>
        </ul>
        <ul>
            <li><a href="{{ HOST }}">Nos partenaires</a></li>
            <li><a href="{{ HOST }}">License</a></li>
            <li><a href="{{ HOST }}">Droits</a></li>
        </ul>
        <ul>
            <li><a href="{{ HOST }}">A propos</a></li>
            <li><a href="{{ HOST }}">Contact</a></li>
            <li><a href="{{ HOST }}">Turbo</a></li>
        </ul>
    </footer>
{% endblock footer %}