{% block navAdmin %}
    <nav id="nav-admin">
        <h2><a href="{{ HOST }}">Turbo</a></h2>
        <ul>
            <li><a href="{{ HOST }}admin/scooters/" class="{{ navActive == "scooters" ? "active"}}"><i class="fa-solid fa-bicycle"></i><span>Trottinettes</span></a></li>
            <li><a href="{{ HOST }}admin/users/" class="{{ navActive == "users" ? "active"}}"><i class="fa-solid fa-user-group"></i><span>Utilisateurs</span></a></li>
            <li><a href="{{ HOST }}admin/subscriptions/" class="{{ navActive == "subscriptions" ? "active"}}"><i class="fa-solid fa-clipboard"></i><span>Abonnements</span></a></li>
            <li><a href="{{ HOST }}admin/products/" class="{{ navActive == "products" ? "active"}}"><i class="fa-solid fa-cart-flatbed"></i><span>Produits</span></a></li>
            <li><a href="{{ HOST }}admin/invoices/" class="{{ navActive == "invoices" ? "active"}}"><i class="fa-solid fa-file-invoice"></i><span>Factures</span></a></li>
            <li><a href="{{ HOST }}admin/partners/" class="{{ navActive == "partners" ? "active"}}"><i class="fa-solid fa-handshake"></i><span>Partners</span></a></li>
            <li><a href="{{ HOST }}admin/rides/" class="{{ navActive == "rides" ? "active"}}"><i class="fa-solid fa-route"></i><span>Trajets</span></a></li>
            <li><a href="{{ HOST }}admin/settings/" class="{{ navActive == "settings" ? "active"}}"><i class="fa-solid fa-gear"></i><span>Paramètres</span></a></li>
        </ul>
    </nav>
{% endblock navAdmin %}