{% block navUser %}
    <nav id="nav-user">
        <div>
            <p>{{ "Bonjour"|trans }},</p>
            <p>{{user.firstName}} {{user.name}}</p>
        </div>

        <ul>
            <li>
                <a href="{{ BASEURL }}my-account/" class="{{ navActive == "informations" ? "active"}}">
                    <div>
                        <i class="fa-solid fa-address-card fa-lg"></i>
                    </div>
                    <div>
                        <span>{{ "Mes informations"|trans }}</span>
                    </div>
                </a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="{{ BASEURL }}my-account/orders/" class="{{ navActive == "orders" ? "active"}}">
                    <div>
                        <i class="fa-solid fa-bag-shopping fa-lg"></i>
                    </div>
                    <div>
                        <span>{{ "Mes Commandes"|trans }}</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ BASEURL }}my-account/returns/" class="{{ navActive == "returns" ? "active"}}">
                    <div>
                        <i class="fa-solid fa-arrow-rotate-left fa-lg"></i>
                    </div>
                    <div>
                        <span>{{ "Mes Retours"|trans }}</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ BASEURL }}my-account/rides/" class="{{ navActive == "rides" ? "active"}}">
                    <div>
                        <i class="fa-solid fa-route fa-lg"></i>
                    </div>
                    <div>
                        <span>{{ "Mes Trajets"|trans }}</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ BASEURL }}my-account/invoices/" class="{{ navActive == "invoices" ? "active"}}">
                    <div>
                        <i class="fa-solid fa-file-invoice"></i>
                    </div>
                    <div>
                        <span>{{ "Mes Factures"|trans }}</span>
                    </div>
                </a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="{{ BASEURL }}my-account/change-password/" class="{{ navActive == "change-password" ? "active"}}">
                    <div>
                        <i class="fa-solid fa-lock fa-lg"></i>
                    </div>
                    <div>
                        <span>{{ "Changer de mot de passe"|trans }}</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ BASEURL }}my-account/addresses/" class="{{ navActive == "addresses" ? "active"}}">
                    <div>
                        <i class="fa-solid fa-house fa-lg"></i>
                    </div>
                    <div>
                        <span>{{ "Carnet d'adressses"|trans }}</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ BASEURL }}my-account/subscriptions/" class="{{ navActive == "payment-methods" ? "active"}}">
                    <div>
                        <i class="fa-solid fa-credit-card fa-lg"></i>
                    </div>
                    <div>
                        <span>{{ "Mon abonnement"|trans }}</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ BASEURL }}my-account/notifications/" class="{{ navActive == "notifications" ? "active"}}">
                    <div>
                        <i class="fa-solid fa-envelope fa-lg"></i>
                    </div>
                    <div>
                        <span>{{ "Notifications"|trans }}</span>
                    </div>
                </a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="{{ BASEURL }}my-account/turboz/">
                    <div>
                        <i class="fa-solid fa-gift fa-lg"></i>
                    </div>
                    <div>
                        <span>{{ "Points de fidélité"|trans }}</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ BASEURL }}my-account/partners/" class="{{ navActive == "partners" ? "active"}}">
                    <div>
                        <i class="fa-solid fa-handshake"></i>
                    </div>
                    <div>
                        <span>{{ "Demande de Partenariat"|trans }}</span>
                    </div>
                </a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="{{ BASEURL }}disconnect/">
                    <div>
                        <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
                    </div>
                    <div>
                        <span>{{ "Déconnexion"|trans }}</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
{% endblock navUser %}