{% extends "templates/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STYLESHEETS }}global/errors.css">
{% endblock stylesheets %}

{% block title %}
    Error {{ code }} | Turbo
{% endblock title %}

{% block content %}

    <main>
        <section id="errorContainer">
            <h1>Error {{ code }} </h1>
            <p>{{ status }}</p>
            <p>{{ message }}</p>
        </section>
    </main>

{% endblock content %}