{% extends "templates/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STYLESHEETS }}userPass.css">
{% endblock stylesheets %}

{% block content %}
    <main>
        
        <div class="menu">
            {% if success.username is defined %}<p class="Hello">Hello,<br>{{ success.username }}</p>{% endif %}
            <br>
            <a href="TODO" class="elementMenu">Aperçu du compte</a><br>
            <a href="TODO" class="elementMenu">My orders</a><br>
            <a href="TODO" class="elementMenu">Order returns</a><br>
            <a href="TODO" class="elementMenu">My informations</a><br>
            <a href="TODO" class="elementMenu">Change password</a>
        </div>
        
            <form action="{{ HERE }}" method="post">
                <h1 style="text-align: center;">Change Your Password !</h1>
                <div class="input-box">
                    <label for="password">Old Password :</label>
                    <input type="password" name="password" id="password" value="{{ form.password ?? '' }}">
                    <label for="confirmEmail">New Password :</label>
                    <input type="password" name="newpassword">
                    {% if error.message is defined %}<p class="Error">{{ error.message }}</p>{% endif %}
                    {% if success.message is defined %}<p class="Success">{{ success.message }}</p>{% endif %}
                </div>
            
                <input type="submit">
                
            </form>
        
    </main>
{% endblock content %}