{% set navActive = "partners" %}

{% extends "templates/admin.html.twig" %}

{% block content %}
    <section id="container-admin">

       {{ include('includes/boxMessages.html.twig') }}

        <header id="admin-header">
            <h1>Editer un produit</h1>
        </header>

        {% include "admin/partners/navAdminPartners.html.twig" with {active : "edit"} %}


        <section id="admin-content">
            <form action="{{ HERE }}" method="POST" id="form-products-edit">
                <div class="box-input-txt">
                    <label>
                        <div>Id</div>
                        <input value="{{ partner.id ?? '' }}" readonly>
                    </label>
                </div>

                <div class="box-input-txt">
                    <label>
                        <div>Nom</div>
                        <input type="text" name="name" value="{{ partner.name ?? '' }}">
                    </label>
                </div>

                <div class="box-input-txt">
                    <label>
                        <div>Description</div>
                        <textarea name="description" id="" cols="92" rows="5">{{ partner.description ?? '' }}</textarea>
                    </label>
                </div>

                <div class="box-input-txt">
                    <label>
                        <div>Prix</div>
                        <input type="text" name="price" value="{{ partner.price ?? '' }}">
                    </label>
                </div>

                <div class="box-input-toggle">
                    <label>
                        <div>Valide</div>
                        <input type='hidden' value='0' name='confirmed'>
                        <input type="checkbox" name="confirmed" {{ partner.confirmed ? "checked" : "" }} value="1">
                    </label>
                </div>


                <div class="box-input-submit">
                    <input type="submit" value="Editer">
                </div>
            </form>
        </section>
    </section>
{% endblock content %}