{% set navActive = "rides" %}

{% extends "templates/user.html.twig" %}

{% block content %}
    <section id="display">
    
        {{ include('includes/boxMessages.html.twig') }}

        <div class="header">
            <h1><i class="fa-solid fa-route fa-lg fa-fade" style="--fa-fade-opacity: 0.8;"></i> {{ "Mes trajets"|trans }}</h1>
            <p>{{ "Liste de vos trajets"|trans }}.</p>
        </div>

        {% if rides is defined %}
        <div id="container-addresses">
            {% for ride in rides %}
                <div class="container-address">
                    <div>
                        <p><span>{{ "l'ID de trajet"|trans }}:</span> <span>#{{ ride.id}}</span></p>
                        <p><span>{{ "Prix"|trans }}:</span> <span>{{ ride.price}}</span></p>
                        <p><span>{{ "Date"|trans }}:</span> <span>{{ ride.startTime}}</span></p>
                        <p><span>{{ "Temps"|trans }}:</span> <span>{{ ride.time}}</span></p>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% else %}
            <div id="container-sub">
                <p>{{ "Actuellement vous ne possedez aucun trajet"|trans }}</p>
            </div>
        {% endif %}

    </section>
{% endblock content %}