{% extends "templates/site.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STYLESHEETS }}home.css">
{% endblock stylesheets %}

{% block content %}

<main>
    <section id="hero">
        <div>
            <h1>Ride everywhere <br /><span style="font-size: 2rem;">with <span style="color: #FD7014; text-transform: uppercase;">TURBO</span> efficiency</span></h1>
        </div>
        <div>
            <img src="{{ UPLOADS }}/Images/young-man-riding-electric-scooter-isolated-flat-vector-illustration-cartoon-hipster-riding-along-sidewalk-in-city-park/8728.jpg" alt="young-man-riding-electric-scooter">
        </div>
    </section>

    <section id="block-description">
        <div>
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut pretium sapien, ac aliquam justo. Morbi volutpat elementum libero in tincidunt. Sed at lorem consectetur, aliquet massa sit amet, blandit eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae</p>
        </div>
        <div class="bg-img">
            <img src="{{ UPLOADS }}/Images/full-shot-people-with-electric-scooter-outdoors.jpg">
        </div>
    </section>

    <section id="block-visit-shop">
        <h2>Check out the store !</h2>
        <div class="container">
            <div>SHOP 1</div>
            <div>SHOP 2</div>
            <div>SHOP 3</div>
        </div>
        <a href="{{ BASEURL }}shop">View more...</a>
    </section>

    <section id="block-article-one">
        <div class="bg-img"><img src="{{ UPLOADS }}/Images/eco-transport-design-concept-set-of-six-square-icons-with-people-riding-bikes-skateboards-and-electric-cars-illustration/2104.i605.023.F.m005.c7.eco transport design concept.jpg" alt=""></div>
        <div>
            <h2>Together for a GREEN world !</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut pretium sapien, ac aliquam justo. Morbi volutpat elementum libero in tincidunt. Sed at lorem consectetur, aliquet massa sit amet, blandit eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae</p>
        </div>
    </section>
</main>

{% endblock content %}