{% extends "templates/site.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STYLESHEETS }}auth.css">
{% endblock stylesheets %}

{% block body %}
    <main>

        {{ include('includes/boxMessages.html.twig') }}

        <h1><a href="{{ BASEURL }}">Turbo</a></h1>
        
        <section id="section-login">
            <nav>
                <ul>
                    <li><a href="{{ BASEURL }}register/">{{ "Créer un compte"|trans }}</a></li>
                    <li class="active"><a href="{{ HERE }}">{{ "Connexion"|trans }}</a></li>
                </ul>
            </nav>

            <form action="{{ HERE }}{{ r is defined ? '?r=' ~ r }}" method="POST">
                <div class="box-input-txt">
                    <label>
                        <span>{{ "Email"|trans }} :</span>
                        <div>
                            <input type="email" name="email" value="{{ form.checkedFields.email ?? '' }}" required>
                        </div>
                        {% if form.error.email is defined %}<p class="inputError">{{ form.error.email|trans }}</p>{% endif %}
                    </label>
                </div>

                <div class="box-input-txt">
                    <label>
                        <span>{{ "Mot de passe"|trans }} :</span>
                        <div>
                            <input type="password" name="password">
                        </div>
                        {% if form.error.password is defined %}<p class="inputError">{{ form.error.password|trans }}</p>{% endif %}
                    </label>
                </div>
                
                {% if error.message is defined %}<p style='color:red; margin: 5px 0; text-align: center;'>{{ error.message }}</p>{% endif %}

                <div class="box-button-submit">
                    <button type="submit">{{ "Connexion"|trans}}</button>
                </div>  

                <p class="passwordForgot">
                    <a href="">{{ "Mot de passe oublié ?"|trans }}</a>
                </p>
            </form>
        </section>
    </main>
{% endblock body %}