{% set navActive = "cart" %}

{% extends "templates/site.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STYLESHEETS }}shop/cart.css">
{% endblock stylesheets %}

{% block content %}

<main id="main-cart">

    {% include "includes/navCart.html.twig" %}

    <section id="section-box-cart">
        <section id="section-cart">
            <h1>{{ "Panier"|trans }}</h1>
            {% if products is null %}
                <div class="noProducts">
                    <p>{{ "Aucun produit dans votre panier"|trans }}</p>
                    <a href="{{ BASEURL }}shop/">{{ "Visiter la boutique"|trans }}</a>
                </div>
            {% else %}                    
                <div class="product">
                    <div >{{ "Image"|trans }}</div>
                    <div >{{ "Produit"|trans }}</div>
                    <div >{{ "Prix unité"|trans }}</div>
                    <div >{{ "Quantité"|trans }}</div>
                    <div >{{ "Prix total"|trans }}</div>
                </div>
                {% for product in products %}
                    <div class="product flex">
                        <div class="image"><a href="{{ BASEURL }}product/{{ product.id }}/"><img src="{{ UPLOADS }}{{ product.images[0].path }}" alt="{{ product.name|trans }}"></a></div>
                        <div class="infoProduct">{{ product.name|trans }}</div>
                        <div>{{ product.price }}</div>
                        <div>
                            <button class="btn-cart-actions"onclick="delProductOne(this, {{ product.id }})">-</button>
                            <span>{{ product.quantity }}</span>
                            <button class="btn-cart-actions" onclick="addProductOne(this, {{ product.id }})">+</button>
                        </div>
                        <div>{{ product.price * product.quantity}}</div>
                        <div><button class="btn-cart-actions" onclick="delProductAll(this, {{ product.id }})">x</button></div>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
        <aside id="resume">
            <h1>{{ "Récapitulatif"|trans }}</h1>
            <div>Total : {{ cart.info.total}}</div>
            {# <div><span>{{ "Sous-total"|trans }} ( {{}} {{ "articles"|trans }})</span><span>{{}}</span></div>
            <div><span>{{ "Sous-total"|trans }} ( {{}} {{ "articles"|trans }})</span><span>{{}}</span></div> #}
            <a href="{{ BASEURL }}choose-shippment/">{{ "Prochaine étape"|trans }}</a>
        </aside>
    </section>

</main>
    
{% endblock content %}

