{% extends "templates/site.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STYLESHEETS }}shop/subscriptions.css">
{% endblock stylesheets %}

{% block content %}

<main>
  <section id="subs-container">
    {% for subscription in subscriptions %}
      <div class="wrapper">
        <h3>{{ subscription.title|trans }}</h3>
        <h1><span>€</span>{{ subscription.price }}<span>/{{"mois"|trans }}</span></h1>
        <p>{{ subscription.description|trans }}</p>
        <form action="{{ BASEURL }}subscriptions/add/" method="POST">
          <input type="hidden" name="sub" value="{{ subscription.id }}">
          <button type="submit">{{ "Souscrire"|trans }}</button>
        </form>
      </div>
    {% endfor %}
  </section>
</main>
    
{% endblock content %}