{% set navActive = "subscriptions" %}

{% extends "templates/admin.html.twig" %}

{% block content %}
    <section id="container-admin">

       {{ include('includes/boxMessages.html.twig') }}

        <header id="admin-header">
            <h1>Ajouter un Abonnement</h1>
        </header>

        <section id="admin-content">
            <form action="{{ HERE }}" method="POST" id="form-users-add">  <!--QUESTION ? -->
                <div class="box-input-txt">
                    <label>
                        <div>Name<span style="color: red">*</span></div>
                        <input type="text" name="name" value="{{ checkedFields.name ?? '' }}">
                    </label>
                </div>

                <div class="box-input-txt">
                    <label>
                        <div>Price<span style="color: red">*</span></div>
                        <input type="text" name="price" value="{{ checkedFields.price ?? '' }}">
                    </label>
                </div>

                <div class="box-input-txt">
                    <label>
                        <div>Title<span style="color: red">*</span></div>
                        <input type="text" name="title" value="{{ checkedFields.title ?? '' }}">
                    </label>
                </div>

                <div class="box-input-txt">
                    <label>
                        <div>Description<span style="color: red">*</span></div>
                        <input type="text" name="description" value="{{ checkedFields.description ?? '' }}">
                    </label>
                </div>

                <div class="box-input-submit">
                    <input type="submit" value="Ajouter">
                </div>
            </form>
        </section>
    </section>
{% endblock content %}