{% set navActive = "products" %}

{% extends "templates/admin.html.twig" %}

{% block content %}
    <section id="container-admin">

       {{ include('includes/boxMessages.html.twig') }}

        <header id="admin-header">
            <h1>Supprimer un produit</h1>
        </header>

        {% include "admin/products/navAdminProducts.html.twig" with {active : "delete"} %}

        <section id="admin-content">
            <form action="{{ HERE }}" method="POST" id="form-products-del">
                <p>
                    Etes-vous sûr de vouloir supprimer le produit "{{ product.name }}" avec l'ID {{ product.id }} ?
                </p>
                <input type="hidden" name="id" value="{{ product.id }}">
                <div class="box-input-submit">
                    <input type="submit" value="supprimer">
                </div>
            </form>
        </section>
    </section>
{% endblock content %}